.dummy {
  opacity: 1;
}

#workbenchPageContent {
  max-width: 1500px;
}

.system_goel_container {
  font-family: "SegoeUI", "Segoe UI", sans-serif;
  font-size: 16px;
  color: "#fff";
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 32px;
}
.system_goel_container .box_model {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  width: 100%;
  align-self: flex-start;
}
.system_goel_container .box_model .header {
  background-color: #0372c7;
  border-bottom: 1px dashed #88c4f3;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
}
.system_goel_container .box_model .inner_container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.system_goel_container .box_model .inner_container .inner_header {
  height: 26px;
  width: 100%;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #158fed;
  color: #fff;
  font-size: 14px;
}
.system_goel_container .box_model .inner_container table {
  border: 0;
  border-spacing: 0;
  width: 100%;
  height: 100%;
}
.system_goel_container .box_model .inner_container table td.no_data {
  background-color: #f1efef;
}
.system_goel_container .box_model .inner_container table .change_status {
  color: #0078d4;
}
.system_goel_container .box_model .inner_container thead {
  height: 60px;
  font-size: 12px;
}
.system_goel_container .box_model .inner_container thead th {
  padding: 0;
  font-size: 11px;
  font-weight: normal;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #e5e5e5;
}
.system_goel_container .box_model .inner_container thead td {
  border: 1px solid #e5e5e5;
  min-width: 50px;
}
.system_goel_container .box_model .inner_container thead .kpi_name_title:first-child {
  text-align: left;
  width: 250px;
  background-color: #f1eed9;
  font-size: 12px;
  padding: 0 4px;
  cursor: context-menu;
}
.system_goel_container .box_model .inner_container thead .border_bkg {
  border-bottom: 1px solid #e5e5e5;
  background-color: #ebf7ff;
}
.system_goel_container .box_model .inner_container thead .border_bkg:nth-child(2) {
  background-color: #f4fbff;
}
.system_goel_container .box_model .inner_container thead .border_bkg.kpi_row th {
  font-weight: 500 !important;
  border-color: #52575a;
}
.system_goel_container .box_model .inner_container thead .border_bkg.kpi_row td {
  border-color: #52575a !important;
  font-weight: 500 !important;
}
.system_goel_container .box_model .inner_container tbody tr {
  min-height: 44px;
}
.system_goel_container .box_model .inner_container tbody tr.no_data {
  background-color: #f1efef;
}
.system_goel_container .box_model .inner_container tbody tr.division_avg {
  background-color: #eef8ff;
}
.system_goel_container .box_model .inner_container tbody tr.organization_avg {
  background-color: #c4e7ff;
}
.system_goel_container .box_model .inner_container tbody tr.organization_avg td a {
  background-color: #fff;
}
.system_goel_container .box_model .inner_container tbody td {
  padding: 0;
  font-size: 12px;
  min-width: 50px;
  vertical-align: middle;
  text-align: center;
  color: #323130;
  border: 1px solid #e5e5e5;
}
.system_goel_container .box_model .inner_container tbody td span {
  width: 8px;
  height: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Font Awesome 5 Free";
}
.system_goel_container .box_model .inner_container tbody td span.success::after {
  content: "\f062";
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.system_goel_container .box_model .inner_container tbody td span.error::after {
  content: "\f063";
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.system_goel_container .box_model .inner_container tbody td span.warning::after {
  content: "\f068";
  font-size: 16px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.system_goel_container .box_model .inner_container tbody td span.green::after {
  color: #7fba00;
}
.system_goel_container .box_model .inner_container tbody td span.red::after {
  color: #f05916;
}
.system_goel_container .box_model .inner_container tbody td span.yellow::after {
  color: #ffc107;
}
.system_goel_container .box_model .inner_container tbody td button, .system_goel_container .box_model .inner_container tbody td a {
  background-color: transparent;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
}
.system_goel_container .box_model .inner_container tbody td button.details, .system_goel_container .box_model .inner_container tbody td a.details {
  border: 0;
  background-color: transparent;
  box-shadow: none;
}
.system_goel_container .box_model .inner_container tbody td button.disabled, .system_goel_container .box_model .inner_container tbody td a.disabled {
  opacity: 0.5;
  pointer-events: none;
  text-decoration: none;
}
.system_goel_container .box_model .inner_container tbody td button {
  pointer-events: none;
  font-weight: 700;
  color: #444;
}
.system_goel_container .box_model .inner_container tbody td a {
  min-width: unset;
  padding: 4px 8px;
  text-decoration: none;
  color: #000;
}
.system_goel_container .box_model .inner_container tbody td a.details {
  min-width: unset;
  border-color: #525252;
  background-color: transparent;
  color: #0078d4;
  text-decoration: underline;
}
.system_goel_container .box_model .inner_container tbody .budget-py td {
  border: 0;
  padding: 0;
}
.system_goel_container .box_model .inner_container tbody .budget-py td:first-child table {
  border-right: 1px solid #e5e5e5 !important;
}
.system_goel_container .box_model .inner_container tbody .budget-py table td {
  padding: 0 !important;
  border: 0 !important;
}
.system_goel_container .box_model .inner_container tbody .budget-py table td:last-child {
  width: 30px;
  min-width: 30px;
  border-left: 1px solid #e5e5e5 !important;
}

.with_goal_filter {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 16px;
}
.with_goal_filter .filter_right {
  display: inline-flex;
  gap: 12px;
  position: absolute;
  right: 0;
}
.with_goal_filter .filter_right .print_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  background-color: #0078d4;
  color: #fff;
  height: 40px;
  gap: 6px;
  border: 1px solid #0078d4;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.with_goal_filter .filter_right .print_btn:hover {
  background-color: #004f87;
  border-color: #004f87;
}
.with_goal_filter .filter_right .print_btn:visited {
  background-color: #0078d4;
  border-color: #0078d4;
}
.with_goal_filter .filter_right .print_btn:disabled {
  background-color: #f1efef;
  border-color: #f1efef;
  color: #a7a3a3;
}
.with_goal_filter .filter_right .dropdown {
  min-width: 230px;
}
.with_goal_filter .filter_right .dropdown .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  height: 40px;
  gap: 6px;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.with_goal_filter .filter_right .dropdown .btn.dropdown-toggle:after {
  border: 0 !important;
  content: "\f107";
  display: inline-block;
  font-family: "Font Awesome 5 free";
  font-weight: 900;
}
.with_goal_filter .filter_right .dropdown .dropdown-menu {
  width: 100%;
}
.with_goal_filter .filter_right .dropdown .dropdown-menu li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px;
}
.with_goal_filter .filter_right .dropdown .dropdown-menu li input[type=checkbox] {
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
.with_goal_filter .filter_right .dropdown .dropdown-menu li:hover {
  background-color: #def0f8;
}
.with_goal_filter .filter_right .dropdown .dropdown-menu .dropdown-item {
  white-space: pre-wrap;
  padding: 0;
  font-size: 15px;
}
.with_goal_filter .filter_right .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #def0f8;
}
.with_goal_filter .filter_right .dropdown .dropdown-menu .group_list .title {
  font-weight: 600;
  background-color: #0078d4;
  color: #fff;
  border-bottom: 1px solid #70a8d2;
  height: 40px;
  display: flex;
  align-items: center;
}
.with_goal_filter .filter_right .dropdown .dropdown-menu .group_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.with_goal_filter .filter_right .dropdown .dropdown-menu .group_list ul .dropdown-item {
  padding-left: 22px;
}
.with_goal_filter .filter_right .dropdown .dropdown-menu .group_list .inner_group .inner_title {
  font-weight: 600;
  background-color: #70a8d2;
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  height: 34px;
  display: flex;
  align-items: center;
}
.with_goal_filter .filter_right .dropdown .dropdown-menu .group_list .inner_group ul .dropdown-item {
  padding-left: 28px;
  font-size: 13px;
}

.btn_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}
.btn_container h3 {
  position: relative;
  font-size: 32px;
  font-weight: 600;
  background-position: 50%;
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  will-change: transform;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1568627451);
  overflow: hidden;
  color: #fff;
  background-image: url("https://img.freepik.com/free-photo/3d-rendering-arrow-hitting-target_23-2151266612.jpg?t=st=1722953325~exp=1722956925~hmac=e363e7387749de5c915da396c3b89dafaa6863c27c4b48ed17341a0245a5c6c0&w=1800");
}
.btn_container h3 span {
  position: relative;
}
.btn_container h3::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.btn_container div label input {
  margin-right: 100px;
}
.btn_container .cat {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #0078d4;
  overflow: hidden;
  float: left;
  max-width: -moz-fit-content;
  max-width: fit-content;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1568627451);
}
.btn_container .cat label {
  float: left;
}
.btn_container .cat label span {
  text-align: center;
  display: block;
}
.btn_container .cat label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
.btn_container .cat label input + span {
  color: #000;
  min-width: 160px;
  padding: 0 12px;
  min-height: unset;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.btn_container .cat input:checked + span {
  color: #000;
}
.btn_container .cat.primary {
  background-color: #ebf7ff;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.btn_container .cat.primary .bilh_agg_checkbox {
  align-items: center;
  display: inline-flex;
  font-size: 12px;
  font-weight: 500;
  gap: 4px;
  position: absolute;
  top: 5px;
}
.btn_container .cat.primary .bilh_agg_checkbox .agg_checkbox {
  width: 16px;
  height: 16px;
}
.btn_container .cat.primary label input + span {
  padding: 0 16px;
  padding-top: 20px;
  min-width: 100px;
  font-size: 16px;
}
.btn_container .cat.primary label input:checked + span {
  background-color: #0078d4;
  color: #fff;
}
.btn_container .cat.primary .all_selected + .bilh_agg_checkbox {
  color: #fff !important;
}
.btn_container .cat.primary.agg_active {
  border: 2px dashed #000;
}
.btn_container .cat.secondary {
  background-color: #ebf7ff;
  max-width: unset;
  width: 100%;
  float: unset;
}
.btn_container .cat.secondary label {
  width: 100%;
  height: 100%;
}
.btn_container .cat.secondary label input + span {
  min-width: 100%;
  height: auto;
  font-size: 14px;
}
.btn_container .cat.secondary label input:checked + span {
  background-color: #0078d4;
  color: #fff;
}
.btn_container .action input:checked + span {
  background-color: #0078d4;
  color: #fff;
}
.btn_container .multi_btn_group {
  display: flex;
  gap: 12px;
  width: 100%;
}
.btn_container .multi_btn_group .inner_btn_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  padding: 0 8px 0 0;
  flex: 1;
}
.btn_container .multi_btn_group .inner_btn_group .btn_group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  width: 100%;
}
.btn_container .multi_btn_group .inner_btn_group .btn_group .cat {
  max-width: unset;
  width: calc(50% - 18px);
  float: unset;
}
.btn_container .multi_btn_group .inner_btn_group .btn_group .cat label {
  width: 100%;
  height: 100%;
}
.btn_container .multi_btn_group .inner_btn_group .btn_group .cat label input + span {
  min-width: 100%;
  height: 100%;
  padding: 0;
  font-size: 12px;
}

.bilh_tooltip {
  width: auto;
  max-width: 250px;
}

body.loading-class {
  overflow: hidden !important;
}
body.loading-class * {
  overflow: hidden !important;
}

.loader_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
}
.loader_container .box_align {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.loader_container .lds-ring {
  color: #fff;
}
.loader_container .lds-ring,
.loader_container .lds-ring div {
  box-sizing: border-box;
}
.loader_container .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader_container .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.loader_container .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader_container .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader_container .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=SystemGoalKpi.module.css.map */